# Firebase service account keys
firebase/*.json
services/usuarios-api/config/firebase_credentials.json
services/pedidos-api/firebase_credentials.json
services/reportes-api/config/firebase_credentials.json
services/notificaciones/config/firebase_credentials.json


# En general, cualquier credencial
*.key
*.pem
*.p12

# Maven / Spring Boot
target/
*.class
*.jar
*.war

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
