# Firebase service account keys
firebase/*.json
services/usuarios-api/config/firebase_credentials.json
services/pedidos-api/app/firebase_credentials.json

# En general, cualquier credencial
*.key
*.pem
*.p12
